# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Direct connection string
# Note: Trying both without brackets (standard) and with brackets if the brackets are literal characters.
DATABASE_URL=""
DATABASE_URL_ALT=""
